<div id="user_info">
	<div id="pic">
		<img src="http://richardwiseman.files.wordpress.com/2009/11/twitter_bird_logo_by_ipotion-1.jpg" height="100" width="100">
	</div>
	<div id="info">
		<span class="user_following"><%= @user.nfollowers -%></span> followers<br>
		<span class="user_followers"><%= @user.nfollowing -%></span> following<br>
		<span class="user_followers"><%= @user.nfollowing -%></span> listed<br>
		Location : <br>
		Infos : <%= @user.description -%><br>
		<a href="http://www.twitter.com/<%=@user.screen_name-%>">follow <%= @user.screen_name -%> on twitter</a>
	</div>
</div>
<div id="recent_tweets">
	<div class="section_title";>Recents Tweets</div><br>
	<div class="text"><%= @last_tweets[2].text -%></div>
	<div class="date">on <%= @last_tweets[2].t_date -%></div><br>
	<div class="text"><%= @last_tweets[1].text -%></div>
	<div class="date">on <%= @last_tweets[1].t_date -%></div><br>
	<div class="text"><%= @last_tweets[0].text -%></div>
	<div class="date">on <%= @last_tweets[0].t_date -%></div>
</div>