<%= javascript_include_tag "autocomplete" -%>

<div id="welcome_content">
<div id="forms">
	<%= render :partial => "shared/welcome/forms", :object => @user -%>	
</div>

<div id="modules">
	<div class="mod_users">
		<%= render :partial => "shared/search/usercloud"-%>	
	</div>	
	<div class="mod_tags">
		<%= render :partial => "shared/search/tagcloud" -%>	
	</div>
	<div class="mod_links">
		<%= render :partial => "shared/welcome/poplinks"-%>	
	</div>

	<div style="clear:both;">
	</div>
</div>

</div>
