

<div id="user_result">
	
	<div id="pic">
		<img src="http://youguru.net/blog/wp-content/uploads/2009/07/twitter_bird_logo_by_ipotion.png" height="100" width="100">
	</div>
	
	<div id="info">
		<strong><%= @user.screen_name -%></strong> (<%= @user.name -%>)<br><br>
		<span class="user_following"><%= @user.nfollowers -%></span> followers<br>
		<span class="user_followers"><%= @user.nfollowing -%></span> following<br>
		Infos : <%#= @user.infos -%><br>
		<a href="http://www.twitter.com/<%=@user.screen_name-%>">follow <%= @user.screen_name -%> on twitter</a>
	</div>
	
	<div id="recent_tweets">
		<div class="section_title";>Recents Tweets</div><br>
		<div class="text"><%= @last_tweets[2].text -%></div>
		<div class="date">on <%= @last_tweets[2].t_date -%></div><br>
		<div class="text"><%= @last_tweets[1].text -%></div>
		<div class="date">on <%= @last_tweets[1].t_date -%></div><br>
		<div class="text"><%= @last_tweets[0].text -%></div>
		<div class="date">on <%= @last_tweets[0].t_date -%></div>
	</div>
	
	<div id="tags">
		<div class="section_title";>Tags</div><br>
		<%#= @user.get_taglist -%>
	</div>
	
	<div style="clear:both;">
	</div>

</div>