<html>
  <head>
    <title>MetaTweet</title>
	<%= stylesheet_link_tag 'welcome' %>
	<%= stylesheet_link_tag 'header' %>
	<%= stylesheet_link_tag 'footer' %>
	<%= stylesheet_link_tag 'tagcloud' %>
	<%= stylesheet_link_tag 'search' %>
	
    <%= javascript_include_tag :defaults -%>
	<%= javascript_include_tag "tagcloud" -%>

	<script>
	
	// on convertit le hash @input et on le parse en tags et users
	var input = <%= @input.to_s -%>;
	var input_tags = input['tags'];
	var input_users = input['users'];

	var tags = TagCloud.create();
	var users = TagCloud.create();

	for (var i in input_tags) {
		if (input_tags.hasOwnProperty(i)) {
			tags.add(i, input_tags[i], 'http://localhost/authentication', Date.parse('2005/04/13 00:00:00'));
		}
	}
	
	for (var i in input_users) {
		if (input_users.hasOwnProperty(i)) {
			users.add(i, input_users[i], 'http://localhost/authentication', Date.parse('2005/04/13 00:00:00'));
		}
	}
			
	tags.loadEffector('CountSize').base(10).range(5);
	tags.loadEffector('DateTimeColor');

	function setup() {
		tags.setup('user_tag_cloud');
	}
	
	</script>

</head>
  <body onload="setup();">
	<%= render :partial => "layouts/header" -%>	
    <%= yield -%>
    <%= render :partial => "layouts/footer" -%>
  </body>
</html>